.App {
  text-align: center;
}

.App-logo {
}

.App-header {
  background-color: #40c0f7;
  height: 10vh;
  display: flex;
}
wee {
  color: black;
  font-weight: bolder;
  display: relative;
  font-size: x-large;
  position: relative;
  left: 4%;
  top: 6px;
}

.Middle {
  background-color: #303233;
  top: 10%;
  height: 90vh;
  display: relative;
}

.Mid {
  background-color: white;
  top: 15%;
  left: 10%;
  display: flex;
  position: relative;
  height: 410px;
  width: 80%;
  z-index: 10;
  justify-content: flex-end;
}
.Yee {
  color: black;
  font-weight: bolder;
  display: flex;
  font-size: xx-large;
  z-index: 11;
}

.BotMid {
  background-color: #303233;
  display: flex;
  position: relative;
  bottom: -15%;
  z-index: 10;
}
